@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
}
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
link {
  text-decoration: none;
}
.home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}
.homepage {
  padding-bottom: 2rem;
  background-color: #f1f3f6;
  display: grid;
  min-height: calc(100vh - 5rem);
  width: 100%;
  position: relative;
}

.category__section {
  grid-area: category;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.1rem;
  align-items: center;
  justify-content: center;
}
.category__heading {
  text-align: left;

  align-self: center;
  justify-self: center;
}
.categoryList {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 2rem;
  place-items: stretch;
  width: 100%;
  min-height: 10rem;
  border-radius: 10px;
}
.category {
  box-sizing: border-box;
  display: grid;
  place-content: center;

  background-color: #ffffff;
  place-self: center;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  font-size: 0.8rem;

  transition: transform 100ms ease-in, background 200ms ease-in-out,
    filter 300ms ease-in-out;
  cursor: pointer;
  overflow: hidden;

  height: 8rem;
  width: 8rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253);
}
.hoverText {
  color: transparent;
  padding: 0.5rem;
  font-weight: bold;
  text-shadow: 0 0 0.5rem black;
  font-size: 0.8rem;
  width: 100%;
  transition: background 500ms ease-in;
}
.hero-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  transition: 100ms cubic-bezier(0.19, 1, 0.22, 1), filter 300ms ease-in-out;
  border-radius: 0.5rem;
}
.hero-image > .image {
  border-radius: 0.5rem;
}

.categoryLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: white;
  text-align: center;
  z-index: 2;
  transition: background 80ms ease-in-out,
    color 50ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.category:hover {
  /* background-color: #8b8b8b; */
  z-index: 1;
  transform: scale(1.1);
}
.category:hover > .categoryLabel {
  background: #8b8b8b00;
  color: transparent;
  z-index: 1;
}
.category:hover > .hoverText {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.356);
  font-family: "Montserrat", sans-serif;
}
.category:hover > .hero-image {
  z-index: -1;
  /* display: none; */
  border-radius: 0.5rem;
  filter: blur(5px);
}
.mainImage {
  display: grid;
  grid-area: mainImage;
  max-height: 100%;
  width: 100%;
  place-items: center;
  margin: 0 0 2rem 0;
  background-color: #c4c4c3;
  position: relative;
  z-index: 1;
  justify-self: stretch;
}
.mainImage:before {
  content: "";
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: grid;
  place-content: start;
  background-color: #7c7c7c42;
  font-size: 2rem;
  color: white;
}
.mainImageText {
  position: absolute;
  color: white;
  bottom: 5%;
  right: 5%;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
}
.mainImageText > h1 {
  font-size: 1.5rem;
  text-rendering: geometricPrecision;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.781);
}
.mainImageText > p {
  font-size: 0.7rem;
  color: rgb(190, 190, 190);
}
.fancyButton {
  font-size: 0.7rem;
  box-sizing: border-box;
  background-color: transparent;
  color: #658df2;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-top: 0.5rem;
  /* border-radius: 0.5rem; */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #658df2;
  transition: border 100ms ease-in-out, background 200ms ease-in;
}
.fancyButton:hover {
  background: #658df2;
  border-bottom: 1px solid white;
  color: white;
}
button:disabled {
  color: grey;
  background-color: darkgrey;
}
button:disabled:hover {
  color: unset;
  background-color: unset;
}
.image {
  height: 100%;
  width: 100%;
}
.collection__section {
  grid-area: collection;
  margin: 5rem 0 5rem 0;
  display: grid;
  place-content: center;
  gap: 1rem;
}
.collections {
  display: grid;
  gap: 1rem;

  grid-template-areas:
    "newLaunch1"
    "newLaunch2"
    "newLaunch3";
}
.collection__heading {
  text-align: left;
  margin-top: 2rem;
}
.collection {
  box-sizing: border-box;
  display: grid;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 10px;
  transition: transform 100ms ease-in;
  height: 10rem;
}
.collection:hover {
  transform: scale(1.08);
}
.collection__heading,
.category__heading {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.308);

  font-size: 2rem;
}

.newLaunches_1 {
  grid-area: newLaunch1;
  background-image: url("https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Beginner-Headphone-Banner-New-01.jpg?v=1681456334&width=1400");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newLaunches_2 {
  grid-area: newLaunch2;
  background-image: url("https://cdn.shopify.com/s/files/1/0153/8863/files/headphone-zone-focal-banner-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newLaunches_3 {
  grid-area: newLaunch3;
  background-image: url("https://cdn.shopify.com/s/files/1/0153/8863/files/hexa_laptop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
Footer {
  grid-area: footer;
  width: 100%;
}

.gradient_background {
  background: #833ab4;

  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  color: transparent;
  box-sizing: content-box;
}

/* Slogan Section */

.slogan__section {
  grid-area: slogan;
  display: grid;
  place-content: center;
  width: 100%;
}

.slogan__box {
  background-color: white;
  padding: 1rem;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  width: 80%;
  justify-self: center;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
}
.sub__slogan {
  text-align: center;
  width: 100%;
}
.main__slogan {
  text-align: center;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(90deg, #92e6d7 50%, #658df2 68.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  background-clip: text;
  color: transparent;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

.homepage {
  grid-template-areas:
    "mainImage"
    "category"
    "slogan"
    "collection"
    "footer";
}

@media (min-width: 700px) {
  .homepage {
    /* max-width: 1200px; */
    padding: 0;
  }

  .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 900px;
    flex-wrap: wrap;
  }
  .category {
    width: 5rem;
    height: 5rem;
    padding: 5rem;
    box-sizing: border-box;
    height: 4.5rem;
    width: 4.5rem;
  }
  .categoryLabel {
    font-size: 1rem;
  }

  .mainImage:before {
    font-size: 3rem;
  }

  .mainImageText > h1 {
    font-size: 5rem;
  }
  .mainImageText > p {
    font-size: 1rem;
    text-align: right;
  }
  .mainImageText > button {
    font-size: 1rem;
    font-weight: unset;
  }
}

@media only screen and (min-width: 1340px) {
  .homepage {
    /* max-width: 1280px; */
    padding-bottom: 3rem;
  }
  .collections {
    grid-template-areas:
      "newLaunch1 newLaunch2"
      "newLaunch1 newLaunch3";
  }

  .collections {
    max-width: 900px;
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 1.5rem;
  }

  .newLaunches_1 {
    height: 250px;
    width: 430px;
  }

  .newLaunches_2,
  .newLaunches_3 {
    height: 108px;
    width: 430px;
  }

  .collection__heading,
  .category__heading {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.2rem;
  }
  .category__heading {
    width: 900px;
  }

  .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  .category {
    width: 4.5rem;
    height: 4.5rem;
    padding: 4.5rem;
  }
  .categoryLabel {
    font-size: 1.5rem;
  }
  .mainImage {
    justify-self: stretch;
  }

  .mainImage::after {
    left: 50%;
    font-size: 5rem;
  }
  .slogan__box {
    width: 900px;
    border-radius: 1rem;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.25);
    max-height: 180px;
    padding: 3rem;
  }
  .main__slogan {
    font-size: 1.8rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .sub__slogan {
    font-size: 1rem;
  }
}

.spinner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.884);
  display: grid;
  place-content: center;
}
