* {
  margin: 0;
  padding: 0;
}
.home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.homepage {
  background-color: #f6f7f6;
  display: grid;
  min-height: calc(100vh - 5rem);
  width: 100%;
}

.categoryList {
  grid-area: category;
  width: 100%;
  height: 100%;
  place-items: center;
}

.categories {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  gap: 2rem;
  place-items: center;
  width: 100%;
}
.category {
  box-sizing: border-box;
  display: grid;
  place-content: center;
  max-height: 10rem;
  width: 80%;
  padding: 5rem;
  background-color: #c4c4c3;
  place-self: center;
  position: relative;
}
.categoryLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: white;
}

.mainImage {
  grid-area: mainImage;
  max-height: 100%;
  width: 100%;
  place-items: center;
  margin: 2rem 0 2rem 0;
}
.image {
  height: 100%;
  width: 100%;
  background-color: #c4c4c3;
}
.collections {
  grid-area: collection;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.collection {
  box-sizing: border-box;
  display: grid;
  padding: 5rem;
  background-color: #c4c4c3;
  gap: 1rem;

  width: 80%;
}
.homepage {
  grid-template-areas:
    "category"
    "mainImage"
    "collection";
}

@media (min-width: 700px) {
  .homepage {
    min-width: 700px;
    padding: 5rem;
  }
  .collections {
    grid-template-columns: 1fr 1fr;
  }

  .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .category {
    width: 5rem;
    height: 5rem;
    padding: 5rem;
  }
  .categoryLabel {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .homepage {
    max-width: 1280px;
    padding: 8rem;
  }
  .collections {
    grid-template-columns: 1fr 1fr;
    width: 1005;
  }

  .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .category {
    width: 8rem;
    height: 8rem;
    padding: 8rem;
  }
  .categoryLabel {
    font-size: 1.5rem;
  }
}
