* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navStyle {
  background-color: white;
  height: 4rem;
  box-shadow: 0 0 10px rgb(110, 110, 110);
  z-index: 2;
  position: relative;
}
.navStyle > .navContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-family: "Montserrat", sans-serif;
}
.navLink {
  text-decoration: none;
  color: #a4a4a4;
  /* color: white; */
  position: relative;
  font-weight: 600;
  transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0.5rem;
}
.navLink:hover {
  color: orange;
}
.navCartNum {
  position: absolute;
  font-size: 18px;
  transform: translate(-2px, -2px);
  /* background-color: white; */
  border-radius: 50%;
  font-weight: bold;
  width: 13px;
  height: 13px;
  text-align: center;
  /* border: white 1px solid; */
}
.nav__textinput {
  max-width: 30rem;
  font-family: "Montserrat", sans-serif;
  border: whtie 1px solid;
}
.nav__textinput:focus,
.nav__textinput::selection {
  border: #658df2 1px solid;
}

.logo {
  color: #a4a4a4;
  /* color: white; */
  font-weight: bold;
  margin-left: 1rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.116);
}
.spacer {
  /* width: 60%; */
  flex-grow: 0.8;
}

.btn {
  cursor: pointer;
}

.icons {
  font-size: 1.3rem;
}
.lowerbar {
  display: none;
}

@media (max-width: 700px) {
  .navStyle {
    height: 10rem;
    padding: 0.5rem 0 0.5rem 0;
  }
  .navStyle > .navContent {
    flex-direction: column;
    gap: 0rem;
  }
  .spacer {
    display: none;
  }
  .mainBar {
    display: none;
  }
  .lowerbar {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    padding: 0.5rem;
  }
  .logo {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .navStyle > .navContent {
    max-width: 1280px;
  }

  .navStyle > .navContent {
    padding: 0;
  }
  .lowerbar {
    display: none;
  }
}
