@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
:root {
  --primaryFont: "Montserrat", sans-serif;
  --white: #ffffff;
}

h1,
.App {
  /* text-align: center; */
  background-color: #f1f3f6;
  z-index: 1;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f6f7f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

.mainPage {
  grid-area: mainpage;
}
.navbar {
  grid-area: navbar;
}
.footer {
  /* grid-area: footer; */
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%;
  z-index: 1;
}

.App {
  grid-template-areas:
    "nav nav nav"
    "mainpage mainpage mainpage";
}
/* Old Files:  */

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
link {
  text-decoration: none;
}
.App {
  position: relative;
}
.numbers {
  font-family: "VT323", monospace;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .landingPage {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  align-items: center;
  place-items: center;
  background-color: white;
  min-height: calc(100vh - 3rem);
}
.landingPage > .mainBody {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-items: center;
  background-color: white;
  min-height: calc(100vh - 3rem);
  gap: 5rem;
}
.App-header {
  position: relative;
}

.kart {
  color: #2874f0;
}
.headingText {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}
.headingText > h1 {
  font-size: 8rem;
  margin-bottom: 0;
  color: #ffe500;
}
.headingText > h2 {
  font-size: 2rem;
  margin-top: 0;
  font-weight: 100;
  text-align: center;
}
.navHeading {
  text-decoration: none;
  color: #2874f0;
  background-color: #ffe500;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgb(170, 170, 170);
  border-radius: 1rem;
  transition: all 100ms ease-in-out;
}
.navHeading:hover {
  box-shadow: 0 0 1rem rgb(170, 170, 170);
}
.shoppingImg {
  height: 500px;
  width: 500px;
}
/* Nav Styling */
/*
.navStyle {
  background-color: #2874f0;
  height: 3rem;
  box-shadow: 0 0 10px rgb(110, 110, 110);
  width: 100%;
  z-index: 2;
  position: relative;
}
.navStyle > .navContent {
  position: absolute;
  max-width: 1280px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 1rem;
  font-family: "Montserrat", sans-serif;
  gap: 2rem;
}
.navLink {
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 600;
}
.navCartNum {
  position: absolute;
  font-size: 16px;
  transform: translate(3px, -7px);
  background-color: red;
  border-radius: 50%;
  font-weight: bold;
  width: 18px;
  height: 17px;
  text-align: center;
  border: white 1px solid;
}
.logo {
  color: white;
  font-weight: bold;
  margin-left: 1rem;
}
.spacer {
  flex-grow: 1;
}

.btn {
  cursor: pointer;
}
*/

/* Product List Page */

/* Spinner CSS */
.spinner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.329);
  display: grid;
  place-content: center;
}

.error__message {
  color: red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
}

.emptycart__img {
  max-height: 10rem;
}
